
body {
background-color: lightgrey;
margin: 0;
padding 0;
}

/*Header styles*/
header {
    background-color: grey;
    padding: 0;
    margin: 0;
    width: 100%;
}

header h1 {
    background-color: turquoise;
    width: 20%;
    display: inline-block;
}

/*Navigation styles*/
nav {
    padding-top: 1px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    
}

/*Navigation list of links style*/
ul {
    list-style-type: none;
    display: inline-block;
}

/*Navigation list item styles*/
li {
    display: inline-block;
    margin-left: 25px;
    color: turquoise;
    border-bottom: solid;
}

/*Navigation link styles*/
nav a {
    color: turquoise;
    text-decoration: none;
}

/* Figure styles */
img {
    background-size: contain;
    max-width: 100%;
    max-height: 20%;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.container {
    position: relative;
  }
  
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    background-color: turquoise;
  }

/*Aside styles*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    border-right: solid;
}

aside h2 {
    margin-bottom: 10px;
    text-align: center;
}

/* Footer styles */
footer {
    margin: auto;
    justify-content: center;
}

footer a {
    color: grey;
    text-decoration: none;
}

footer ul li {
    color: grey;
}

/* Flexbox styles */

.row justify-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    float: right;
  }

.justify-center {
    justify-content: center;
  }

.card-column {
    width: 50%;
}

/* Text block styles */
.card {
    position: relative;
    outline: 2px solid;
  }

.text-block {
    left: 20px;
    background-color: turquoise;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }


